@import url(https://fonts.googleapis.com/css?family=Electrolize);
 
 /* Type Writer*/
 .wait {
    animation: showBlock 0s 5s forwards;
    visibility: hidden;
}
 
@keyframes showBlock {
    to { visibility: visible; }
}

.typewriter h2 {
    
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
     
   
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .5s step-end  7;
      white-space: nowrap;
      
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: hotpink; }
  }
  
  .wait h2 {
      
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid lightpink; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
       
     
      animation: 
        typing 3.5s steps(40, end),
        blink-caret .5s     ;
        animation-delay: 5s;
        
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: hotpink; }
    }
   
   
  




.nav a:hover{
    background-color: lightpink;
    color: black;
     font-weight: bolder;
     border-color: otpink;
    box-shadow: 0px 8px 15px hotpink;
}
 

 
 .contact-me a:hover
{
color: #000000; 
background: hotpink;
 box-shadow: 0 0 10px lightpink, 0 0 40px  lightpink, 0 0 80px lightpink; 
 transition-delay: 1s;} 

 .contact-me a span
{position: absolute;
 display: block;}


.contact-me a span:nth-child(1)
{
 
top: 0;
width: 100%;
Left: -100%; 
background: linear-gradient (90deg, transparent, lightpink);
background-color:lightpink;
height: 2px;

} 

 .contact-me a:hover span:nth-child(1)  {
Left: 100%; 
 transition: .1s;
 transition-property: 0s;
}
.contact-me a span:nth-child(3)
{
bottom: 0;
width: 100%;
right: -100%; 
background: linear-gradient (270deg, transparent, lightpink);
background-color:lightpink ;
height: 2px;
} 

.contact-me a:hover span:nth-child(3)  {
right: 100%; 
 transition: 1s;
 transition-delay: 0.1s;
}

.contact-me a span:nth-child(2)
{
top:-100%;
width: 2px;
right: 0; 
background: linear-gradient (180deg, transparent, lightpink);
background-color:lightpink ;
height: 100%;
} 

.contact-me a:hover span:nth-child(2)  {
    top: 100%; 
 transition: 1s;
 transition-delay: 0.1s;
}

.contact-me a span:nth-child(4)
{
bottom:-100%;
width: 2px;
left: 0; 
background: linear-gradient (360deg, transparent, lightpink);
background-color:lightpink ;
height: 100%;
} 

.contact-me a:hover span:nth-child(4)  {
bottom: 100%; 
 transition: 1s;
 transition-delay: 0.2s;
} 

.contact-me a{
    color: hotpink;
    text-decoration: none;
    letter-spacing: 4px;
    transition: 0.2s;
    padding:15px 30px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: lavender;

}

.message {
    position: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
   
    align-items: center;
    
}


@media screen and (min-width: 360px) and (max-width: 1020px){



    .contact-me a
    {
    color: #000000; 
    background: lightskyblue;
     box-shadow: 0 0 10px lightskyblue, 0 0 40px  lightskyblue, 0 0 80px lightskyblue; 
     transition-delay: 1s;} 
    
     .contact-me a span
    {position: absolute;
     display: block;}
    
    
    .contact-me a span:nth-child(1)
    {
     
    top: 0;
    width: 100%;
    Left: -100%; 
    background: linear-gradient (90deg, transparent, skyblue);
    background-color:skybluek;
    height: 2px;
    
    } 
    
     .contact-me a  span:nth-child(1)  {
    Left: 100%; 
     transition: .25s;
     transition-property: 0s;
    }
    .contact-me a span:nth-child(3)
    {
    bottom: 0;
    width: 100%;
    right: -100%; 
    background: linear-gradient (270deg, transparent, skyblue);
    background-color:skyblue ;
    height: 2px;
    } 
    
    .contact-me a  span:nth-child(3)  {
    right: 100%; 
     transition: 1s;
     transition-delay: 0.25s;
    }
    
    .contact-me a span:nth-child(2)
    {
    top:-100%;
    width: 2px;
    right: 0; 
    background: linear-gradient (180deg, transparent, skyblue);
    background-color:skyblue ;
    height: 100%;
    } 
    
    .contact-me a span:nth-child(2)  {
        top: 100%; 
     transition: 1s;
     transition-delay: 0.25s;
    }
    
    .contact-me a span:nth-child(4)
    {
    bottom:-100%;
    width: 2px;
    left: 0; 
    background: linear-gradient (360deg, transparent, skyblue);
    background-color:skyblue ;
    height: 100%;
    } 
    
    .contact-me a span:nth-child(4)  {
    bottom: 100%; 
     transition: 1s;
     transition-delay: 0.5s;
    } 
    
    .contact-me a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        letter-spacing: 4px;
        transition: 0.2s;
        padding:15px 30px;
        position: relative;
        display: inline-block;
        overflow: hidden;
      
        padding-top:30px;
        font-size: 30px;
    
    }
    
    .messageme {
        position: flex;
        margin: 0;
        padding-top: 0px;
        justify-content: center;
        background-color: skyblue; 
        align-items: center;
        height: 40px;
        width:250px
        
    }
    .contact-me a:hover
    {
    color: #000000; 
    background: skyblue;
     box-shadow: 0 0 10px skyblue, 0 0 40px  skyblue, 0 0 80px skyblue; 
     transition-delay: 1s;}
     @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: lightskyblue; }
      } 


      
.typewriter h2 {
    
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
     
   
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .5s step-end  7;
      white-space: nowrap;
      
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0); }
  }
  
  .wait h2 {
      
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid rgb(0, 0, 0); /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
       
     
      animation: 
        typing 3.5s steps(40, end),
        blink-caret .5s  step-end infinite   ;
        animation-delay: 5s;
        
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: black; }
    }


 
  









 















}

